html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*overflow: hidden;*/
	font-family: 'Cantarell', sans-serif;
	font-style: italic;
	list-style: none;
}

body{
	font-size: 16px;
}

/*  General Page Classes */

.container{
	max-width: 800px;
	margin: 0 auto;
}
.text-center{
	text-align: center;
}
.underline{
	text-decoration: underline;
}

.margin-auto{
	margin: 0 auto;
}

.abs-div{
	width: 100%;
	height: 100%;
	position: relative;
}
.abs-center{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}

.double{
	/*height: 300px;*/
	position:relative;
	max-width: 800px;
	margin: 0 auto;
}
.column-2{
	float: left;
	width: 50%;
}

.panel{
	width: 100%;
	position: relative;
	display: block;
}

.panel:after{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	z-index: 1;
	/*left: 50%;*/
	content: "";
    width: 100%;
    position: absolute;
    bottom: -29px;
    border-top: 30px solid #FCEBB6;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.titles{
	font-size: 400%;
}

.description{
	font-size: 150%;
	text-align: center;
	margin-top: 3%;
}

.white{
	color: #FCEBB6;
}

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 30px solid transparent;
    border-right: 31px solid transparent;
    position: absolute;
    top: -29px;
}

.hex {
    margin-top: 0px;
    width: 60px;
    height: 20px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: "";
    width: 0px;
    position: absolute;
    bottom: -29px;
    border-top: 30px solid #6C6;
    border-left: 30px solid transparent;
    border-right: 31px solid transparent;
}


/* Splash Specific CSS */

#header{
	height: 175px;
}

#splash{
	background-color: #5E412F;
	height: 500px;
	min-height: 200px;
}

#splash:after{
    border-top: 30px solid #5E412F;
}

/* Intro Specific CSS */

#intro-inside{
	padding: 100px 0;
}


#intro{
	background-color: #FCEBB6;
	min-height: 1000px;
}

.about-me{
	font-size: 150%;
	text-align: center;
	margin: 3%;
}

.pic{
	width: 300px;
	height: 30%;
	margin: 10px;
}

/* Skills Specific CSS  */

#skills{
	background-color: #4E2931;
	/*min-height:1200px;*/
}
#skills:after{
    border-top: 30px solid #4E2931;
}

.spacing{
	padding: 100px 0;
}

.skill{
	margin-top: 10px;
}

/* Projects Specific CSS */

#projects{
	background-color: #DC403B;
	width: 100%;
	height: 800px;
	overflow: hidden;
}
#proj_cont{
	height: 100%;
	width: 400%;
	display: flex;
	display: -webkit-flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
#contact{
	background-color: #F0A830;
}




.in{
	display: -webkit-flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	width: 60%;
	height: 100%;
	padding: 5%;

}




.project{
	width: 25%; 
	height: 100%;
	float: left;
	display: flex;
	display: -webkit-flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}
i{
	text-align: center;
}
.proj_titles{
	font-size: 200%;
	margin-bottom: 3%;
	text-decoration: underline;
}
.proj_img{
	height: 20%;
	width: 20%;
}
.name{
	font-size: 250%;
	color: #FCEBB6;
}
#proj_links{
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 200px;
	background-color: #DC403B;
	/*bottom: 0;*/
}
#proj_links:after{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	z-index: 1;
	left: 0%;
	content: "";
    width: 100%;
    position: absolute;
    bottom: -29px;
    border-top: 30px solid #DC403B;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}
.p_links{
	/*height: 10vh;*/
	/*width: 5%;*/
	background-color: blue;
	margin: 0 2% 0 2%;
}
#contact{
	height: 60vh;
}

canvas{
    margin: 2%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.column{
	height: 100%;
	width: 60%;
	max-width: 800px;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-flex-direction: column;
}


