html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*overflow: hidden;*/
	font-family: 'Raleway', sans-serif;
}

.panel{
	height: 100vh;
	width: 100%;
	position: relative;
	display: block;
}
#splash{
	background-color: red;
}
#intro{
	background-color: blue;
}
#projects{
	/*background-color: purple;*/
	width: 100%;
	overflow: hidden;
	/*position: absolute;*/
	/*display: flex;*/
}
#proj_cont{
	height: 100%;
	/*margin-left: -50%;*/
	width: 400%;
	display: flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}
#contact{
	background-color: orange;
}
.project{
	width: 25%;
	height: 100%;
	float: left;
/*	display: inline-block;*/
	/*position: absolute;*/
}
#project1{
	/*left: 0%;*/
	background-color: purple;
}
#project2{
	/*left: 100%;*/
	background-color: green;
}
#project3{
	/*left: 200%;*/
	background-color: purple;
}
#project4{
	/*left: 300%;*/
	background-color: green;
}