html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/*overflow: hidden;*/
	font-family: 'Cantarell', sans-serif;
	font-style: italic;
	list-style: none;
}

body{
	font-size: 16px;
}

/*  General Page Classes */

.container{
	max-width: 800px;
	margin: 0 auto;
}
.text-center{
	text-align: center;
}
.underline{
	text-decoration: underline;
}

.margin-auto{
	margin: 0 auto;
}

.abs-div{
	width: 100%;
	height: 100%;
	position: relative;
}
.abs-center{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
}

.double{
	position: relative;
	max-width: 800px;
	margin: 0 auto;
}
.column-2{
	float: left;
	width: 50%;
}

.panel{
	width: 100%;
	position: relative;
	display: block;
}

.add-bottom:after{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	z-index: 1;
	content: "";
    width: 100%;
    position: absolute;
    bottom: -28px;
    border-top: 30px solid #FCEBB6;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
}

.titles{
	font-size: 400%;
}

.description{
	font-size: 1.5em;
	text-align: center;
	margin-top: 3%;
}

.white{
	color: #FCEBB6;
}

.hex{
	border-radius: 100px;
	height: 3em;
	width: 3em;
}

.highlight {
	background-color: #FCEBB6;
}

.unhigh {
	background-color: #5E412F;
}

/*.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #6C6;
    border-left: 30px solid transparent;
    border-right: 31px solid transparent;
    position: absolute;
    top: -29px;
}

.hex {
    margin-top: 0px;
    width: 60px;
    height: 20px;
    background-color: #6C6;
    position: relative;
}

.hex:after {
    content: "";
    width: 0px;
    position: absolute;
    bottom: -29px;
    border-top: 30px solid #6C6;
    border-left: 30px solid transparent;
    border-right: 31px solid transparent;
}*/


/* Splash Specific CSS */

#header{
	height: 175px;
}

#splash{
	background-color: #5E412F;
	height: 500px;
	min-height: 200px;
}

#splash:after{
    border-top: 30px solid #5E412F;
}

/* Intro Specific CSS */

#intro-inside{
	padding: 100px 0;
}


#intro{
	height: 850px;
	background-color: #FCEBB6;
}

.about-me{
	font-size: 1.5em;
	text-align: center;
	margin: 3%;
}

.pic{
	border-radius: 10px;
	width: 20em;
	margin: 10px auto;
}

/* Skills Specific CSS  */

#skills{
	background-color: #4E2931;
}
#skills:after{
    border-top: 30px solid #4E2931;
}

.spacing{
	padding: 100px 0;
}

.skill{
	margin-top: 10px;
}

/* Projects Specific CSS */

#projects{
	background-color: #DC403B;
	width: 100%;
	height: 750px;
	overflow: hidden;
}
#proj_cont{
	height: 100%;
	width: 400%;
}

.in{
	width: 50%;
	height: 100%;
	margin: 0 auto;
}



.project{
	width: 25%; 
	height: 100%;
	text-align: center;
	display: inline-block;
	float: left;
}

i{
	text-align: center;
}
.proj_titles{
	font-size: 200%;
	margin-bottom: 3%;
	text-decoration: underline;
}
.proj_img{
	/*height: 20%;
	width: 20%;*/
	margin: 2em auto;
	border-radius: 5px;
}
.name{
	font-size: 250%;
	color: #FCEBB6;
}
#proj_links{
	height: 150px;
	background-color: #DC403B;
}

#proj_links:after{
	border-top: 30px solid #DC403B;
}

.all-p-links{
	
	text-align: center;
}

.all-p-links li{
	margin: 2em;
	display: inline-block;
}

.p_links{
	margin: 0 2% 0 2%;
}

canvas{
    margin: 2% auto;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

/* Contact Specific Links */

#contact{
	background-color: #F0A830;
	/*background-color: #D57500;*/
	position: relative; 
	min-height: 400px;
}

#bottom-links{
	display: block;
	position: absolute;
	bottom: 3em;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

#bottom-links .description{
	margin: 0;
}

@media screen and (max-width: 650px) {

    body{
    	font-size: 12px;
    }

    #intro{
		height: 750px;
	}

    .proj_img{
    	height: 150px;
    	width: auto;
    }

    .hex{
		height: 2em;
		width: 2em;
	}
	canvas{
		height: 225px;
		width: 225px;
	}
}